<footer class="mx-auto px-[15px] xl:w-[1170px] lg:w-[970px] md:w-[750px]">
  <div class="-mx-[15px]">
    <div class="z-[1] w-full float-left relative min-h-[1px] px-[15px]">
      <div>
        <p class="text-[11px] py-[20px] px-0 text-justify">
          <span
            >No donation necessary to enter or win. You may enter either by
            donating on this Sweepstakes Page or click <a href="#">here</a> for instructions
            to enter without donating. By entering this Sweepstakes, you accept the
            <a href="#">Terms of Service</a>, <a href="#">Official Rules</a> and
            <a href="#">Privacy Policy</a>. Donating will not improve your
            chances of winning. All donations are voluntary and tax-deductible
            to the extent allowed by law. See details <a href="#">here</a>.
            Entries must be received by the date specified on the entry page or
            form. All sweepstakes are subject to the Official Rules for each
            such sweepstakes including all listed eligibility criteria.</span
          >
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
  a {
    color: #00acec !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
</style>
