<div class="sc-eIvgmF col-lg-8 col-md-8 col-sm-8 col-xs-12 kdbYva">
  <div class="sc-crNyjn row ilexqz">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-jkCMRl keyKuU">
        <span class="sc-bqjOQT fAYCMW">Your donation supports:</span> Shania Kids
        Can and the Marner Assist Foundation
      </div>
    </div>
  </div><div class="sc-eomEcv eXPTOH">
    <div>
      <div class="sc-eGXxtx eOxHyb"></div><div class="sc-hlELIx kWKOTu">
        <div class="sc-bscRGj cdgTfk">
          <div class="sc-erOsFi cJnAju">
            <div class="sc-hAcydR hsLUQz">
              <!-- @ts-ignore -->
              <div
                class="sc-jLrYHE hgsnxL"
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/shania-twain-image-22A4"
                alt="Video image"
              >
              </div>
            </div>
          </div><div class="sc-erOsFi cJnAju">
            <div class="sc-hAcydR hsLUQz">
              <!-- @ts-ignore -->
              <div
                class="sc-jLrYHE gmelFT"
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/shania-twain-image-718A"
                alt="Video image"
              >
              </div>
            </div>
          </div><div class="sc-erOsFi cJnAju">
            <div class="sc-hAcydR hsLUQz">
              <!-- @ts-ignore -->
              <div
                class="sc-jLrYHE dLdNCZ"
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/shania-twain-image-6005"
                alt="Video image"
              >
              </div>
            </div>
          </div><div class="sc-erOsFi cJnAju">
            <div class="sc-hAcydR hsLUQz">
              <!-- @ts-ignore -->
              <div
                class="sc-jLrYHE kzRgGh"
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/win-the-ultimate-fan-experience-shania-twain-and-mitch-marner-image-9183"
                alt="Video image"
              >
              </div>
            </div>
          </div>
        </div>
      </div><div><i class="fas fa-angle-right sc-eklfrZ edUCtl"></i></div>
    </div><div class="sc-gcJTYu gAxDYn">
      <div class="sc-csSMhA hTTBMy"></div><div class="sc-csSMhA eDdCov">
      </div><div class="sc-csSMhA eDdCov"></div><div class="sc-csSMhA eDdCov">
      </div>
    </div>
  </div><div class="sc-crNyjn row kOdPFz">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-jkCMRl keyKuU">
        <span class="sc-bqjOQT fAYCMW">Your donation supports:</span> Shania Kids
        Can and the Marner Assist Foundation
      </div>
    </div>
  </div><div class="sc-ivVeuv row bYjCdL">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-dTLGrV kNGzzw">
        <div class="sc-dBaXSw eFNpdM">
          <h3 class="sc-hdPSEv chgYuh">What You Can Win</h3><h3
            class="sc-cCbXAZ IUTul"
          >
            What You Can Win
          </h3><div class="sc-bNQFlB cCWZQB">
            <ul class="sc-dRCTWM jjvMXo">
              <li class="sc-hizQCF ZcEbn">
                Meet-and-greet with Shania Twain and NHL All-Star Mitch Marner
              </li><li class="sc-hizQCF ZcEbn">
                Two VIP tickets to see Shania Twain at Budweiser Stage in
                Toronto on June 23, 2023
              </li><li class="sc-hizQCF ZcEbn">
                Special access to VIP pre-show reception and red carpet photo-op
              </li><li class="sc-hizQCF ZcEbn">
                Exclusive merchandise, signed by Shania
              </li><li class="sc-hizQCF ZcEbn">
                Official Maple Leafs jersey, signed by Mitch
              </li><li class="sc-hizQCF ZcEbn">
                Hotel accommodations for two nights for you and a guest
              </li><li class="sc-hizQCF ZcEbn">
                Round-trip airfare for two within North America
              </li>
            </ul><ul class="sc-cgHJcJ OMNWY">
              <li class="sc-hizQCF ZcEbn">
                FLASH PRIZE! When you enter to win the grand prize, you will
                automatically be entered for the chance to win 2 tickets to MEET
                Shania Twain at a show of your choice during her Queen of Me
                tour
              </li>
            </ul>
          </div>
        </div><p class="sc-doWzTn eSzeOR">
          See <a
            href="https://www.prizeo.com/campaigns/shania-twain-and-mitch-marner/vip-trip-to-toronto/official-rules"
            target="_blank">Official Rules</a
          > for odds, terms, and other details.
        </p>
      </div>
    </div>
  </div><div class="sc-eitiEO row cpcrL">
    <div class="sc-ifAKCX col-xs-12 bqYPBB"><div></div></div>
  </div><div class="sc-ekulBa row ioOMSc">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-bbkauy cTPjmh">
        <h3 class="sc-hMrMfs khYLoH">
          A NOTE FROM SHANIA TWAIN AND MITCH MARNER
        </h3><div class="sc-jxGEyO cNyiMM">
          <p class="sc-drlKqa dDapoR">
            <p>
              Shania Twain and Mitch Marner are joining forces to bring one
              winner and a guest to Toronto (home of the mighty Toronto Maple
              Leafs!) for a VIP experience to meet them during Shania's&nbsp;<i
                >Queen of Me</i
              >&nbsp;tour. Not only will you get 2 VIP tickets, you’ll snap a
              photo with them backstage and attend an exclusive pre-show
              reception that includes an epic red-carpet photo opportunity, so
              you can have your own star-studded moment.<br />
            </p><p>
              Plus, take home some sweet, sweet loot - exclusive signed Shania
              merch and an official Maple Leafs jersey signed by Mitch himself.
              It's the ultimate Toronto experience - a little hockey, a little
              music, and a whole lot of fun.
            </p><p>
              The best part is that every entry helps support their
              charities,&nbsp;<span style="font-weight: 700;"
                >Shania Kids Can
              </span>and the&nbsp;<span style="font-weight: 700;"
                >Marner Assist Foundation</span
              >, both of which provide assistance to vulnerable and
              disadvantaged youth. Donate as little as $10 to support and enter
              for a chance to win.
            </p><p>Good luck!</p><p
              dir="ltr"
              style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"
            >
            </p>
          </p><div class="sc-ciodno ALJFl">
            NO DONATION NECESSARY TO ENTER OR WIN. See <a
              href="/campaigns/shania-twain-and-mitch-marner/vip-trip-to-toronto/official-rules"
              target="_blank">Official Rules</a
            > for odds, terms, and other details.
          </div>
        </div><span class="icon-add-solid sc-gojNiO lflaw"></span>
      </div>
    </div>
  </div><div class="sc-ekulBa row kdsxkG">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-bbkauy cTPjmh">
        <h3 class="sc-hMrMfs khYLoH">
          A NOTE FROM SHANIA TWAIN AND MITCH MARNER
        </h3><div class="sc-jxGEyO cNyiMM">
          <p class="sc-drlKqa dDapoR">
            <p>
              Shania Twain and Mitch Marner are joining forces to bring one
              winner and a guest to Toronto (home of the mighty Toronto Maple
              Leafs!) for a VIP experience to meet them during Shania's&nbsp;<i
                >Queen of Me</i
              >&nbsp;tour. Not only will you get 2 VIP tickets, you’ll snap a
              photo with them backstage and attend an exclusive pre-show
              reception that includes an epic red-carpet photo opportunity, so
              you can have your own star-studded moment.<br />
            </p><p>
              Plus, take home some sweet, sweet loot - exclusive signed Shania
              merch and an official Maple Leafs jersey signed by Mitch himself.
              It's the ultimate Toronto experience - a little hockey, a little
              music, and a whole lot of fun.
            </p><p>
              The best part is that every entry helps support their
              charities,&nbsp;<span style="font-weight: 700;"
                >Shania Kids Can
              </span>and the&nbsp;<span style="font-weight: 700;"
                >Marner Assist Foundation</span
              >, both of which provide assistance to vulnerable and
              disadvantaged youth. Donate as little as $10 to support and enter
              for a chance to win.
            </p><p>Good luck!</p><p
              dir="ltr"
              style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"
            >
            </p>
          </p><div class="sc-ciodno ALJFl">
            NO DONATION NECESSARY TO ENTER OR WIN. See <a
              href="/campaigns/0/official-rules"
              target="_blank">Official Rules</a
            > for odds, terms, and other details.
          </div>
        </div><span class="icon-add-solid sc-gojNiO lflaw"></span>
      </div>
    </div>
  </div><div class="sc-lcpuFF row cOcwnu">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-gGCbJM ibbtdR">
        <div class="sc-kEmuub dbOSug"></div><h3 class="sc-hMrMfs khYLoH">
          ABOUT SHANIA KIDS CAN &amp; THE MARNER ASSIST FOUNDATION
        </h3><div class="sc-jxGEyO cNyiMM">
          <p class="sc-drlKqa dDapoR">
            <center
              ><iframe
                src="https://drive.google.com/file/d/1A7v0WuG-LfZKIBGocUNLnOXGfifVrG6t/preview"
                width="640"
                height="360"
                allow="autoplay"></iframe></center
            ><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;"
            >
              <font color="#454545" face="Lato, sans-serif"
                ><span style="font-size: 20px;"
                  >Shania Kids Can (SKC) supports children in times of crises
                  and economic hardships. Our mission is to inspire, empower and
                  improve the lives of children through the provision of support
                  services, education, and social programs.&nbsp;&nbsp;</span
                ></font
              ><br />
            </p><p
              style="margin-bottom: 1.1em; color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px;"
            >
              <span id="docs-internal-guid-fb0ff8df-7fff-1b6e-67d3-b61d48f6e998"
              ></span>
            </p><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;"
            >
              <span
                style="font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;"
                ><i style=""
                  ><font color="#454545" face="Lato, sans-serif"
                    ><span style="font-size: 20px;"
                      >"Being able to give back through the Shania Kids Can
                      foundation is one of my greatest accomplishments. To know
                      that SKC can help promote positive change in children
                      going through personal and economic hardships is a
                      tremendous feeling. My hope is that we can continue to
                      expand SKC programs and reach more children in need."</span
                    ></font
                  ></i
                ><font color="#454545" face="Lato, sans-serif"
                  ><span style="font-size: 20px;">&nbsp;</span></font
                ></span
              >
            </p><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 10pt; color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px; line-height: 1.38;"
            >
              – Shania Twain
            </p><center
              style="color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px;"
              >&nbsp;<img
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/69cb4411-5c9d-4a04-9272-83cfc16fcc75"
                style="width: 25%;"
              /></center
            ><p></p><p></p><center
              style="color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px;"
              ><br /></center
            ><p>
              <img
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/d5ad497e-01bd-47ec-87af-03295f2251ec"
                style="width: 100%;"
              />
            </p><p
              dir="ltr"
              style="line-height:1.3800000000000001;margin-top:0pt;margin-bottom:10pt;"
            >
              The goal of the&nbsp;<span style="font-weight: 700;"
                >Marner Assist Foundation</span
              >&nbsp;is to generate sustainable change for children and youth by
              providing resources that will make a significant impact on their
              lives. The focus is to provide assistance in the areas of
              children’s social care, health, education as well as supporting
              environmental causes to ensure our children have a sustainable
              future.
            </p><p></p><p>
              <i
                >"You’ve got a big spotlight on you (as a Maple Leaf) to change
                people’s lives every day, and I think it’s your choice to try to
                do that. I think if there’s an opportunity that you can do
                something great with it, try and do it."</i
              >
            </p><p>– Mitchell Marner</p><center
              ><img
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/99e258e6-fe7f-4be7-8d21-36ea7b360bfb"
                style="width: 163.062px;"
              /></center
            >
          </p>
        </div><span class="icon-add-solid sc-gojNiO lflaw"></span>
      </div>
    </div>
  </div><div class="sc-lcpuFF row bSaXVw">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-gGCbJM ibbtdR">
        <div class="sc-kEmuub dbOSug"></div><h3 class="sc-hMrMfs khYLoH">
          ABOUT SHANIA KIDS CAN &amp; THE MARNER ASSIST FOUNDATION
        </h3><div class="sc-jxGEyO cNyiMM">
          <p class="sc-drlKqa dDapoR">
            <center
              ><iframe
                src="https://drive.google.com/file/d/1A7v0WuG-LfZKIBGocUNLnOXGfifVrG6t/preview"
                width="640"
                height="360"
                allow="autoplay"></iframe></center
            ><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;"
            >
              <font color="#454545" face="Lato, sans-serif"
                ><span style="font-size: 20px;"
                  >Shania Kids Can (SKC) supports children in times of crises
                  and economic hardships. Our mission is to inspire, empower and
                  improve the lives of children through the provision of support
                  services, education, and social programs.&nbsp;&nbsp;</span
                ></font
              ><br />
            </p><p
              style="margin-bottom: 1.1em; color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px;"
            >
              <span id="docs-internal-guid-fb0ff8df-7fff-1b6e-67d3-b61d48f6e998"
              ></span>
            </p><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;"
            >
              <span
                style="font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;"
                ><i style=""
                  ><font color="#454545" face="Lato, sans-serif"
                    ><span style="font-size: 20px;"
                      >"Being able to give back through the Shania Kids Can
                      foundation is one of my greatest accomplishments. To know
                      that SKC can help promote positive change in children
                      going through personal and economic hardships is a
                      tremendous feeling. My hope is that we can continue to
                      expand SKC programs and reach more children in need."</span
                    ></font
                  ></i
                ><font color="#454545" face="Lato, sans-serif"
                  ><span style="font-size: 20px;">&nbsp;</span></font
                ></span
              >
            </p><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 10pt; color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px; line-height: 1.38;"
            >
              – Shania Twain
            </p><center
              style="color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px;"
              >&nbsp;<img
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/69cb4411-5c9d-4a04-9272-83cfc16fcc75"
                style="width: 25%;"
              /></center
            ><p></p><p></p><center
              style="color: rgb(69, 69, 69); font-family: Lato, sans-serif; font-size: 20px;"
              ><br /></center
            ><p>
              <img
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/d5ad497e-01bd-47ec-87af-03295f2251ec"
                style="width: 100%;"
              />
            </p><p
              dir="ltr"
              style="line-height:1.3800000000000001;margin-top:0pt;margin-bottom:10pt;"
            >
              The goal of the&nbsp;<span style="font-weight: 700;"
                >Marner Assist Foundation</span
              >&nbsp;is to generate sustainable change for children and youth by
              providing resources that will make a significant impact on their
              lives. The focus is to provide assistance in the areas of
              children’s social care, health, education as well as supporting
              environmental causes to ensure our children have a sustainable
              future.
            </p><p></p><p>
              <i
                >"You’ve got a big spotlight on you (as a Maple Leaf) to change
                people’s lives every day, and I think it’s your choice to try to
                do that. I think if there’s an opportunity that you can do
                something great with it, try and do it."</i
              >
            </p><p>– Mitchell Marner</p><center
              ><img
                src="https://d1oc2d5bw2auvq.cloudfront.net/static-assets-prod/99e258e6-fe7f-4be7-8d21-36ea7b360bfb"
                style="width: 163.062px;"
              /></center
            >
          </p>
        </div><span class="icon-add-solid sc-gojNiO lflaw"></span>
      </div>
    </div>
  </div><div class="sc-ileJJU row jNuft">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="test-supporters sc-jotlie khWZjp">
        <div class="sc-iuDHTM hUFGjA"></div><h3 class="sc-eEieub hZtUOw">
          Messages from 91 of our amazing donors
        </h3><div class="sc-fdQOMr eRUeZi">
          <div class="sc-htpNat row gdHyId">
            <div class="sc-ifAKCX col-xs-12 bqYPBB">
              <div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <img
                    class="sc-jWxkHr hGeTJU"
                    src="https://d1oc2d5bw2auvq.cloudfront.net/assets//images/illust/avatar.141da3.png"
                    alt="Clint Cummins"
                  /><div class="sc-fAJaQT bofxzp">Clint Cummins</div><div
                    class="sc-dPPMrM iXCrqe"
                  >
                    $50
                  </div><div class="sc-cNnxps hPxAwu">1 day ago</div>
                </div>
              </div><div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <div class="sc-imDfJI kswZGy">❤️❤️❤️</div>
                </div>
              </div>
            </div>
          </div><div class="sc-htpNat row gdHyId">
            <div class="sc-ifAKCX col-xs-12 bqYPBB">
              <div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <img
                    class="sc-jWxkHr hGeTJU"
                    src="https://d1oc2d5bw2auvq.cloudfront.net/assets//images/illust/avatar.141da3.png"
                    alt="Brandon Raffaele"
                  /><div class="sc-fAJaQT bofxzp">Brandon Raffaele</div><div
                    class="sc-dPPMrM iXCrqe"
                  >
                    $25
                  </div><div class="sc-cNnxps hPxAwu">1 day ago</div>
                </div>
              </div><div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <div class="sc-imDfJI kswZGy">
                    I love you so much Mitch! &lt;3
                  </div>
                </div>
              </div>
            </div>
          </div><div class="sc-htpNat row gdHyId">
            <div class="sc-ifAKCX col-xs-12 bqYPBB">
              <div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <img
                    class="sc-jWxkHr hGeTJU"
                    src="https://d1oc2d5bw2auvq.cloudfront.net/assets//images/illust/avatar.141da3.png"
                    alt="Melissa Wamsley"
                  /><div class="sc-fAJaQT bofxzp">Melissa Wamsley</div><div
                    class="sc-dPPMrM iXCrqe"
                  >
                    $80
                  </div><div class="sc-cNnxps hPxAwu">2 days ago</div>
                </div>
              </div><div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <div class="sc-imDfJI kswZGy">
                    Such beautiful causes to really influence and impact the
                    future, with the generations that have most creativity joy
                    and liveliness if gifted or given a chance to shine thank
                    you for this
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><button class="sc-hAnkBK jBvGMX"><span>read more</span></button>
      </div>
    </div>
  </div>
</div>

<style>
  @import url("../../../styles/patched-css.css");
</style>
