<div class="sc-bkypNX col-lg-4 col-md-4 col-sm-4 col-xs-12 kqOcCF">
  <div class="sc-ivVeuv row jGvGTx">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="sc-dTLGrV kNGzzw">
        <div class="sc-dBaXSw eFNpdM">
          <h3 class="sc-hdPSEv chgYuh">What You Can Win</h3><h3
            class="sc-cCbXAZ IUTul"
          >
            What You Can Win
          </h3><div class="sc-bNQFlB cCWZQB">
            <ul class="sc-dRCTWM jjvMXo">
              <li class="sc-hizQCF ZcEbn">
                Meet-and-greet with Shania Twain and NHL All-Star Mitch Marner
              </li><li class="sc-hizQCF ZcEbn">
                Two VIP tickets to see Shania Twain at Budweiser Stage in
                Toronto on June 23, 2023
              </li><li class="sc-hizQCF ZcEbn">
                Special access to VIP pre-show reception and red carpet photo-op
              </li><li class="sc-hizQCF ZcEbn">
                Exclusive merchandise, signed by Shania
              </li><li class="sc-hizQCF ZcEbn">
                Official Maple Leafs jersey, signed by Mitch
              </li><li class="sc-hizQCF ZcEbn">
                Hotel accommodations for two nights for you and a guest
              </li><li class="sc-hizQCF ZcEbn">
                Round-trip airfare for two within North America
              </li>
            </ul><ul class="sc-cgHJcJ OMNWY">
              <li class="sc-hizQCF ZcEbn">
                FLASH PRIZE! When you enter to win the grand prize, you will
                automatically be entered for the chance to win 2 tickets to MEET
                Shania Twain at a show of your choice during her Queen of Me
                tour
              </li>
            </ul>
          </div>
        </div><p class="sc-doWzTn eSzeOR">
          See <a
            href="https://www.prizeo.com/campaigns/shania-twain-and-mitch-marner/vip-trip-to-toronto/official-rules"
            target="_blank">Official Rules</a
          > for odds, terms, and other details.
        </p>
      </div>
    </div>
  </div><div id="rewards-row">
    <div class="sc-htpNat row gdHyId">
      <div class="sc-ifAKCX col-xs-12 bqYPBB">
        <div class="sc-fgrSAo gUgHSP">
          <h3 class="sc-RbTVP eokVzJ">How to Enter</h3><div
            class="sc-dwztqd col-xs-12 fPVDIZ"
          >
            Select an entry method below to receive entries. At the end of the
            campaign a winning entry will be selected at random and the winner
            notified by email.
          </div>
        </div>
      </div>
    </div><div class="sc-htpNat row gdHyId">
      <div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12126"
      >
        <div class="test-reward sc-hCaUpS fexzre">
          <div class="sc-gacfCG bvArlP">Best Value</div>
          <!-- @ts-ignore -->
          <div class="sc-bvTASY gDphRa" disabled>
            <div class="sc-koErNt gXOuJp"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">600</span> entries!
              </h3><h3 class="sc-kDhYZr cTWmGe">
                <span class="sc-cPuPxo gyUJBD"
                  ><div class="sc-hvvHee igeukS"></div><span
                    class="sc-sPYgB epCJpD">500</span
                  > entries</span
                >
              </h3><div class="sc-lnrBVv ilAVSQ">+</div><h3
                class="sc-dHIava irkpcJ"
              >
                Limited Edition "Giddy Up!" Koozie + 100 Bonus Entries
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <a
                id="donate-btn"
                class="full-width test-go-to-checkout-reward sc-iujRgT bJmqVc"
                href="/#"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">Donate $50</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12124"
      >
        <div class="test-reward sc-hCaUpS cTQxl">
          <!-- @ts-ignore -->
          <div class="sc-bvTASY gDphRa" disabled>
            <div class="sc-koErNt hLqiAX"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">100</span> entries
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <a
                id="donate-btn"
                class="full-width test-go-to-checkout-reward sc-iujRgT bJmqVc"
                href="/#"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">Donate $10</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12125"
      >
        <div class="test-reward sc-hCaUpS cTQxl">
          <!-- @ts-ignore -->
          <div class="sc-bvTASY gDphRa" disabled>
            <div class="sc-koErNt hfYPgO"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">250</span> entries
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <a
                id="donate-btn"
                class="full-width test-go-to-checkout-reward sc-iujRgT bJmqVc"
                href="/#"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">Donate $25</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12140"
      >
        <div class="test-reward sc-hCaUpS cTQxl">
          <div class="sc-bvTASY jTunXu">
            <div class="sc-koErNt jOsaUF"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">800</span> entries
              </h3><div class="sc-lnrBVv ilAVSQ">+</div><h3
                class="sc-dHIava irkpcJ"
              >
                Shania Kids Can "Queen of Me" Tour T-Shirt
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <a
                id="donate-btn"
                class="full-width test-go-to-checkout-reward sc-iujRgT bJmqVc"
                href="/#"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">Donate $80</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12128"
      >
        <div class="test-reward sc-hCaUpS cTQxl">
          <!-- @ts-ignore -->
          <div class="sc-bvTASY gDphRa" disabled>
            <div class="sc-koErNt jvPmnD"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">1,500</span> entries
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <a
                id="donate-btn"
                class="full-width test-go-to-checkout-reward sc-iujRgT bJmqVc"
                href="/#"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">Donate $150</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
      >
        <div class="test-custom-amount sc-fjhmcy gLBcYs">
          <div class="sc-eSePXt fBeIYd">
            <p class="sc-dXfzlN dwwGSN">Custom donation</p><div
              class="sc-aewfc iUnQaB"
            >
              Make a custom donation of any amount here 😎
            </div>
          </div><div class="sc-hwcHae jImlBq">
            <h3 class="sc-lnmtFM CvBKr">200 entries</h3><div
              class="sc-iIHjhz ccIGFu"
            >
              <div>
                <div class="sc-ibxdXY jQMNFd">
                  <label class="sc-bwCtUz hCLFGP" for="label-id-0"
                    >Enter amount</label
                  ><div class="sc-iQKALj blSgTV">
                    <input
                      class="undefined form-control sc-hrWEMg bSjqId"
                      id="label-id-0"
                      required=""
                      type="text"
                      name="amount"
                      value="$20"
                    />
                  </div>
                </div>
              </div>
            </div><button
              id="donate-btn"
              class="full-width sc-bAeIUo goSzbQ"
              style="font-size: 24px; font-weight: 900;"
              ><span class="sc-jHZirH hwwCfX">Donate $20</span></button
            >
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12141"
      >
        <div class="test-reward sc-hCaUpS fMOHzO">
          <div class="sc-bvTASY jTunXu">
            <div class="sc-koErNt gvFXnr"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">2,500</span> entries
              </h3><div class="sc-lnrBVv ilAVSQ">+</div><h3
                class="sc-dHIava irkpcJ"
              >
                Signed Music Sheet and Handwritten Lyrics
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <!-- @ts-ignore -->
              <a
                class="full-width test-go-to-checkout-reward sc-iujRgT kqraqE"
                disabled
                href="/campaigns/l/shania-twain-and-mitch-marner/vip-trip-to-toronto/payment?reward=12141&amountToPay=250"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">sold out</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12173"
      >
        <div class="test-reward sc-hCaUpS fMOHzO">
          <div class="sc-bvTASY jTunXu">
            <div class="sc-koErNt hqzTdb"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">3,500</span> entries
              </h3><div class="sc-lnrBVv ilAVSQ">+</div><h3
                class="sc-dHIava irkpcJ"
              >
                Signed "Not Just a Girl" CD
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <!-- @ts-ignore -->
              <a
                class="full-width test-go-to-checkout-reward sc-iujRgT kqraqE"
                disabled
                href="/campaigns/l/shania-twain-and-mitch-marner/vip-trip-to-toronto/payment?reward=12173&amountToPay=350"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">sold out</span></a
              >
            </div>
          </div>
        </div>
      </div><div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-12130"
      >
        <div class="test-reward sc-hCaUpS fMOHzO">
          <!-- @ts-ignore -->
          <div class="sc-bvTASY gDphRa" disabled>
            <div class="sc-koErNt fdCjQk"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="test-number-of-entries sc-kDhYZr kaVoHa">
                <span class="sc-sPYgB epCJpD">5,000</span> entries
              </h3><div class="sc-lnrBVv ilAVSQ">+</div><h3
                class="sc-dHIava irkpcJ"
              >
                Signed "Maple Leafs" Shania Twain Photo
              </h3>
            </div><div>
              <div>
                <div class="sc-bSbAYC faPVCt">
                  More info<i class="fas fa-angle-down sc-hkbPbT hhlUOc"></i>
                </div>
              </div>
            </div><div class="sc-fvLVrH fdpmLq">
              <!-- @ts-ignore -->
              <a
                class="full-width test-go-to-checkout-reward sc-iujRgT kqraqE"
                disabled
                href="/campaigns/l/shania-twain-and-mitch-marner/vip-trip-to-toronto/payment?reward=12130&amountToPay=750"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">sold out</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div><div class="sc-htpNat row gdHyId">
      <div
        class="sc-cqPOvA col-xs-6 col-sm-12 col-md-12 col-lg-12 bHkJuW"
        id="reward-undefined"
      >
        <div class="test-reward sc-hCaUpS cTQxl">
          <!-- @ts-ignore -->
          <div class="sc-bvTASY gDphRa" disabled>
            <div class="sc-koErNt dMnqir"></div>
          </div><div class="sc-gJqsIT fwZDik">
            <div>
              <h3 class="sc-dHIava irkpcJ">
                Click here to enter without donating.
              </h3>
            </div><div class="sc-fvLVrH fdpmLq">
              <a
                id="donate-btn"
                class="full-width test-go-to-checkout-reward sc-bMVAic frCgkx"
                href="/#"
                style="margin-top: 15px; font-size: 24px; font-weight: 900;"
                ><span class="sc-bYnzgO iuwziM">Enter</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="sc-ileJJU row ifIlZx">
    <div class="sc-ifAKCX col-xs-12 bqYPBB">
      <div class="test-supporters sc-jotlie khWZjp">
        <div class="sc-iuDHTM hUFGjA"></div><h3 class="sc-eEieub hZtUOw">
          Messages from 91 of our amazing donors
        </h3><div class="sc-fdQOMr eRUeZi">
          <div class="sc-htpNat row gdHyId">
            <div class="sc-ifAKCX col-xs-12 bqYPBB">
              <div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <img
                    class="sc-jWxkHr hGeTJU"
                    src="//d1oc2d5bw2auvq.cloudfront.net/assets//images/illust/avatar.141da3.png"
                    alt="Clint Cummins"
                  /><div class="sc-fAJaQT bofxzp">Clint Cummins</div><div
                    class="sc-dPPMrM iXCrqe"
                  >
                    $50
                  </div><div class="sc-cNnxps hPxAwu">1 day ago</div>
                </div>
              </div><div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <div class="sc-imDfJI kswZGy">❤️❤️❤️</div>
                </div>
              </div>
            </div>
          </div><div class="sc-htpNat row gdHyId">
            <div class="sc-ifAKCX col-xs-12 bqYPBB">
              <div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <img
                    class="sc-jWxkHr hGeTJU"
                    src="//d1oc2d5bw2auvq.cloudfront.net/assets//images/illust/avatar.141da3.png"
                    alt="Brandon Raffaele"
                  /><div class="sc-fAJaQT bofxzp">Brandon Raffaele</div><div
                    class="sc-dPPMrM iXCrqe"
                  >
                    $25
                  </div><div class="sc-cNnxps hPxAwu">1 day ago</div>
                </div>
              </div><div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <div class="sc-imDfJI kswZGy">
                    I love you so much Mitch! &lt;3
                  </div>
                </div>
              </div>
            </div>
          </div><div class="sc-htpNat row gdHyId">
            <div class="sc-ifAKCX col-xs-12 bqYPBB">
              <div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <img
                    class="sc-jWxkHr hGeTJU"
                    src="//d1oc2d5bw2auvq.cloudfront.net/assets//images/illust/avatar.141da3.png"
                    alt="Melissa Wamsley"
                  /><div class="sc-fAJaQT bofxzp">Melissa Wamsley</div><div
                    class="sc-dPPMrM iXCrqe"
                  >
                    $80
                  </div><div class="sc-cNnxps hPxAwu">2 days ago</div>
                </div>
              </div><div class="sc-htpNat row gdHyId">
                <div class="sc-ifAKCX col-xs-12 bqYPBB">
                  <div class="sc-imDfJI kswZGy">
                    Such beautiful causes to really influence and impact the
                    future, with the generations that have most creativity joy
                    and liveliness if gifted or given a chance to shine thank
                    you for this
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><button class="sc-hAnkBK jBvGMX"><span>read more</span></button>
      </div>
    </div>
  </div>
</div>
<style>
  @import url("../../../styles/patched-css.css");
</style>
